.home {
    background: url(../images/background.jpg) no-repeat center center fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.welcome_text 
{
    color: white;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 80;
    position: block;
}

.click_here
{
    color: white;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
}
.menu_name
{
   font-family: 'Devonshire', sans-serif;
   font-size: 30px;
   color: white ;  
   opacity: 0;
   margin-left: 30px;
   margin-top: 5px;
   width: 20%;
   float:left;
}
a
{
    color:white;
}

.show_name
{
   opacity: 1.5;
}
.welcome_block
{
    margin-top:12%;
}
 
.line1
{
    margin-top: 20%;
}


@media (max-width: 500px) {
    .welcome_text { font-size: 30; }
}

@media (min-width: 500px) {
    .welcome_text { font-size: 40; }
}

@media (min-width: 700px) {
    .welcome_text { font-size: 50; }
}

@media (min-width: 1200px) {
    .welcome_text { font-size: 60; }
}
hr { 
  border: 0; 
  height: 3px;
   
  background-image: -webkit-linear-gradient(left, #fff, #fff, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #fff, #f0f0f0); 
}   


.menu_bar
{
    position:absolute;
    width: 100%;
    height: 50px;
    display: block;
    margin-top: -40px;
    margin-left: -75px;
    
}

.fixed
{
    width: 100%;
    height: 50px;
    display: block;
    margin-top: -50px;
    background-color:#3c2e27;
    position:fixed;
    opacity: 0.8;
    z-index:100;
}
.menu_items *
{
    position:relative;
    display: inline;
    color: white;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.menu_items
{
    position: relative;
    float: right;
    display: block;
    margin-top: 15px;
    margin-right: 20px; 
}

.btn
{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;

}

.btn:hover
{
    color:#3c2e27;
    background-color: white;
    opacity: 0.5;

}
a:hover
{
    text-decoration:none;
}

.about {
    background-color: #fff;
    margin-top: -30px;
    width: 100%;
    height: 40%;
    left: 0;
    right: 0;
    z-index: 10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.about_me_text 
{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #3c2e27;
    font-size: 20px;
    
  
  
}
.about_me_head 
{
    font-family: 'Lobster', sans-serif;
    color: #3c2e27;
    font-size: 40px;
}
.resume_btn
{
    margin-top:5px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #fff;
    background-color:#3c2e27;
    height: 40px;
    width: 90px;
    border-radius:3px;
    padding-top: 10px; 
}
.projects{
    background-color: #fff;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.projects_head 
{
    font-family: 'Lobster', sans-serif;
    color: #3c2e27;
    font-size: 40px;
}

.project
{
    margin-right: 20px;
    background-color: #9d7e62;
    height: 400px;
    z-index: 1;
    
}
 
.project_div
{
    margin-left:12.5%;
    margin-top: 15px;
}
 
.blogs_head
{
    font-family: 'Lobster', sans-serif;
    color: #3c2e27;
    font-size: 40px;
}   
.blogs {
    background-color: #fff; 
    margin:auto;
    position: absolute;
    margin-top: -30px;
    width: 90%;
    height: 50%;
    left: 0;
    right: 0;
    z-index: 10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.
