html, body {
    height: 100%;
    background-color: $backgroundColor;
}

.h-90 {
    height: 90% !important;
}

.navbar {
    padding: 10 10 0 10
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../images/hamburger.png");
    width:28px;
    height:28px;
}

.navbar-light .navbar-toggler {
    color: $backgroundColor;
    border-color: $backgroundColor;
}

.navbar-nav {
    font-family: $defaultFont;
    color: $fontColor;
    font-size: $fontSizeXS;
}

.logo-text {
    margin-top:0.5*$gutter;
}

.navbar-toggler {
    padding: 0;
}

.font-main-large {
    color: $fontColor;
    font-size: $fontSizeXL;
    font-family: $defaultFont;
    font-weight: $boldXLWeight;
    text-align:center;
}
.font-main-medium {
    margin-top: $gutter;
    color: $fontColor;
    font-size: $fontSizeXL;
    font-family: $defaultFont;
    font-weight: $normalWeight;
    text-align:center;
}
.font-main-small {
    margin-top: $gutter;
    margin-left: 0.5*$gutter;
    color: $fontColor;
    font-size: $fontSizeSmall;
    font-family: $defaultFont;
    font-weight: $normalWeight;
    line-height: 1.3;
    text-align:center;
}

.col-mouse {
    padding: 0;
}

.mouse-logo-img {
    position: relative;
    margin: auto;
    height:25px;
}

.centerBlock {
    display: table;
    margin: auto;
}

.row-page-header {
    margin-top: 2*$gutter;
}

.page-header {
    font-family: $defaultFont;
    font-size: $fontSizeLarge;
    color: $fontColor;
    margin-bottom: 5*$gutter;
    margin-top: 6*$gutter;
}

.work-item {
    margin-bottom: 4*$gutter;
}

.work-item-logo{
    height: 60px;
}

.work-item-heading{
    font-family: $defaultFont;
    font-size: $fontSizeMedium;
    color: $h1color;
    font-weight: 500;
    margin-top: 2*$gutter;
}

.work-item-subheading{
    font-family: $defaultFont;
    font-size: $fontSizeSmall;
    color: $fontColor;
    font-weight: 300;
    margin-top: 1*$gutter;
}

.work-item-body{
    font-family: $defaultFont;
    font-size: $fontSizeSmall;
    color: $fontColor;
    font-weight: 300;
    margin-top: 1*$gutter;
    line-height: 1.3;
}

.read-more-btn {
    background-color: $h1color;
    color: $backgroundColor;
    margin-top:1*$gutter;
}

.contact-text .contact-email{
    font-family: $defaultFont;
    color: $fontColor;
    font-size: $fontSizeMedium;
    font-weight: $normalWeight;
}

.contact-email {
    font-weight: $boldWeight;
    margin-top: 0.5*$gutter;
}

.contact-social-media {
    margin-top: 4*$gutter;
    line-height: 1.3;
}

.contact-social-media-detail {
    margin-top: 0.5*$gutter;
}

.contact-social-media-logo {
    height : 16px;
    display: inline;
}

.contact-social-media-text {
    width: auto;
    display: inline;
}

.contact-details-head {
    margin-top: 15*$gutter;
    font-family: $defaultFont;
    color: $fontColor;
    font-size: $fontSizeMedium;
    font-weight: $boldWeight;
}

.contact-details-body {
    margin-top: 2*$gutter;
    line-height: 1.3;
    font-family: $defaultFont;
    color: $fontColor;
    font-size: $fontSizeMedium;
    font-weight: $normalWeight;
}

.footer {
    position: relative;
}

.footer-image {
    max-width: 30%;
    position:absolute;
    right: 0px;
    bottom: 0px;
}

