$backgroundColor: #fff;
$h1color: #3136AC;
$fontColor: #333;

$fontSizeXL: 2.25em;
$fontSizeLarge : 1.8em;
$fontSizeMedium: 1.2em;
$fontSizeSmall: 1em;
$fontSizeXS: 0.9em;

$defaultFont: 'Roboto', sans-serif;
$normalWeight: 300;
$boldWeight: 500;
$boldXLWeight: 700;

$gutter: 10px;
$gutterdbl: (2 * $gutter);